/* ---------------------------------------------------------------------
Original Author: Shane Smith

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

@import 'global_imports';

body {
    background-color: $swatch-3;
    font-family: $font_pathway_gothic;
    font-size: $base_font_size;
    line-height: $base_line_height;
}

.hdg_1 {
    font-size: 2.5em;
    line-height: 2.5em;
}

.hdg_2 {
    font-size: 2.25em;
    line-height: 2.25em;
}

.hdg_3 {
    font-size: 2.0em;
    line-height: 2.0em;
}

.hdg_4 {
    font-size: 1.75em;
    line-height: 1.75em;
}

.hdg_5 {
    font-size: 1.5em;
    font-size: 1.5em;
}

p, ul, ol {
    padding-bottom: $base_padding;
}

ul, ol {
    list-style: circle;
    margin-left: ($base_padding * 2);
}

.wrapper {
    background-color: $swatch-2;
    color: font_color_adjust($swatch-2, $swatch-3, $tint_adjustment_percentage);
    border: 2px solid $swatch-5;
    width: $site_width;
    margin: 0 auto;
    font-size: 1.25em;

    a {
        text-decoration: none;
        color: font_color_adjust($swatch-2, $swatch-4, ($tint_adjustment_percentage * 2));
        &:hover {
            color: font_color_adjust($swatch-2, $swatch-4, ($tint_adjustment_percentage * 4));
        }
    }

    code {
        font-family: $font_droid_sans_mono;
    }
}

.header {
    background-color: $swatch-4;
    border-bottom: 2px solid $swatch-5;
    color: font_color_adjust($swatch-4, $swatch-4, $tint_adjustment_percentage);
    padding: $base_padding;
}

.footer {
    height: 75px;
    background: $swatch-1;
    padding-top: 55px;
    color: font_color_adjust($swatch-1, $swatch-3, $tint_adjustment_percentage);
}

.content {
    padding: $base_padding;
}

.palette {
    width: $site_width;
    margin: ($base_padding * 3) auto;
}

.swatch {
    height: 100px;
    display: inline-block;
    width: 18%;
    margin: ($base_padding * 0.80);
    border: 1px solid black;
    text-align: center;
    padding-top: 40px;
    font-size: 1.75em;
}

.swatch-1 {
    background-color: $swatch-1;
    color: font_color_adjust($swatch-1, $swatch-3, $tint_adjustment_percentage);
}

.swatch-2 {
    background-color: $swatch-2;
    color: font_color_adjust($swatch-2, $swatch-3, $tint_adjustment_percentage);
}

.swatch-3 {
    background-color: $swatch-3;
    color: font_color_adjust($swatch-3, $swatch-3, $tint_adjustment_percentage);
}

.swatch-4 {
    background-color: $swatch-4;
    color: font_color_adjust($swatch-4, $swatch-3, $tint_adjustment_percentage);
}

.swatch-5 {
    background-color: $swatch-5;
    color: font_color_adjust($swatch-5, $swatch-3, $tint_adjustment_percentage);
}