/* ---------------------------------------------------------------------
Original Author: Shane Smith

Color Palette
------------------------------------------------------------------------ */

@import 'variables';

// Declare color variables. Default to base color
$swatch-1: $base_color;
$swatch-2: $base_color;
$swatch-3: $base_color;
$swatch-4: $base_color;
$swatch-5: $base_color;


@if $palette_style == "complimentary" {

    $swatch-1: complimentary_color($base_color, 1);
    $swatch-2: complimentary_color($base_color, 2);
    $swatch-4: complimentary_color($base_color, 4);
    $swatch-5: complimentary_color($base_color, 5);

} @else if $palette_style == "analogous" {

    $swatch-1: analogous_color($base_color, 1);
    $swatch-2: analogous_color($base_color, 2);
    $swatch-4: analogous_color($base_color, 4);
    $swatch-5: analogous_color($base_color, 5);

} @else if $palette_style == 'triad' {

    $swatch-1: triad_color($base_color, 1, $brighten);
    $swatch-2: triad_color($base_color, 2, $brighten);
    $swatch-4: triad_color($base_color, 4, $brighten);
    $swatch-5: triad_color($base_color, 5, $brighten);

} @else if $palette_style == 'shades' {
    $swatch-1: shade_color($base_color, 1, $brighten);
    $swatch-2: shade_color($base_color, 2, $brighten);
    $swatch-4: shade_color($base_color, 4, $brighten);
    $swatch-5: shade_color($base_color, 5, $brighten);

} @else if $palette_style == 'split-complimentary' {
    $swatch-1: split_complimentary_color($base_color, 1, $brighten);
    $swatch-2: split_complimentary_color($base_color, 2, $brighten);
    $swatch-4: split_complimentary_color($base_color, 4, $brighten);
    $swatch-5: split_complimentary_color($base_color, 5, $brighten);

} @else if $palette_style == 'square' {
    $swatch-1: square_color($base_color, 1, $brighten);
    $swatch-2: square_color($base_color, 2, $brighten);
    $swatch-4: square_color($base_color, 4, $brighten);
    $swatch-5: square_color($base_color, 5, $brighten);

} @else if $palette_style == 'tetradic' {
    $swatch-1: tetradic_color($base_color, 1, $brighten);
    $swatch-2: tetradic_color($base_color, 2, $brighten);
    $swatch-4: tetradic_color($base_color, 4, $brighten);
    $swatch-5: tetradic_color($base_color, 5, $brighten);

}