/* ---------------------------------------------------------------------
Original Author: Shane Smith

Color Functions
------------------------------------------------------------------------ */


/*
 * Updates a supplied number based on a 360 degree color wheel
 *
 * @param {int} $degree
 * @return {int}
 */
@function color_wheel($degree) {
    @if($degree >= 360) {
        $degree: $degree - 360;
    } @else if($degree <= 0) {
        $degree: $degree + 360;
    }

    @return $degree;
}

@function percentage_limits($percentage) {
    @if($percentage > 100) {
        $percentage: 100; //$percentage - 100;
    } @else if($percentage < 0) {
        $percentage: 0; //$percentage + 100;
    }

    @return $percentage;
}

/*
 * Complimentary color function. 
 * Returns the complimentary color of supplied color
 *
 * @param {string} $color The base color
 * @return {string}
 */
@function complimentary_color($color: $base_color) {
    @return complement($color);
}

/*
 * Analogous Color function.
 * Returns the analagous color shifts based on the supplied color
 *
 * @param {string} $color The base color
 * @param {boolen} $counter Counter-Clockwise on the color wheel
 * @return {string}
 */
@function analogous_color($color: $base_color, $swatch: 3) {
    $hue: hue($color);
    $saturation: saturation($color);
    $lightness: lightness($color);
    $base_degree: 15;

    @if($swatch == 1) {
        $hue: $hue - ($base_degree * 2);
    } @else if ($swatch == 2) {
        $hue: $hue - $base_degree;
    } @else if ($swatch == 4) {
        $hue: $hue + $base_degree;
    } @else if ($swatch == 5) {
        $hue: $hue + ($base_degree * 2);
    }

    @return hsl(color_wheel($hue), $saturation, $lightness);
}

/*
 * Traid Color function
 * Returns the triad color shifts based on the supplied color
 *
 * @param {stirng} $color The base color
 * @param {boolean} $counter Counter-Clockwise on the color wheel
 * @return {string}
 */
@function triad_color($color: $base_color, $swatch: 3, $brighten: false) {
    $hue: hue($color);
    $saturation: saturation($color);
    $lightness: lightness($color);
    $base_degree: 120;
    $light_diff: 10;

    @if($swatch == 1) {
        $hue: $hue - $base_degree;
        @if($brighten == false) {
            $lightness: $lightness - $light_diff;
        } @else {
            $lightness: $lightness + $light_diff;
        }
    } @else if ($swatch == 2) {
        $hue: $hue - $base_degree;
    } @else if ($swatch == 4) {
        $hue: $hue + $base_degree;
    } @else if ($swatch == 5) {
        $hue: $hue + $base_degree;
        @if($brighten == false) {
            $lightness: $lightness - $light_diff;
        } @else {
            $lightness: $lightness + $light_diff;
        }
    }

    @return hsl(color_wheel($hue), percentage_limits($saturation), percentage_limits($lightness));
}