/* ---------------------------------------------------------------------
Original Author: Shane Smith

Color Functions
------------------------------------------------------------------------ */


/*
 * Updates a supplied number based on a 360 degree color wheel
 *
 * @param {int} $degree
 * @return {int}
 */
@function color_wheel($degree) {
    @if($degree >= 360) {
        $degree: $degree - 360;
    } @else if($degree <= 0) {
        $degree: $degree + 360;
    }

    @return $degree;
}

/*
 * Limits a supplied number to a min of 0 and max of 100 unless loop is true. If loop is true remove/add 100 if over/under 0/100
 *
 * @param {int} $percentage
 * @param {booean} $loop
 * @return {int}
 */
@function percentage_limits($percentage, $loop: false) {
    @if($percentage > 100%) {
        @if($loop == false) {
            $percentage: 100; 
        } @else {
            $percentage: $percentage - 100;
        }
    } @else if($percentage < 0%) {
        @if($loop == false) {
            $percentage: 0; 
        } @else {
            $percentage: $percentage + 100;
        }
    }

    @return $percentage;
}

/*
 * Adjusts the lightness of the font color based on the background color and a supplied tint
 * This will prevent dark on dark/ light on light font/background images
 *
 * @param {string} $background-color This must match the background color
 * @param {string} $tint The color which you would like to tint the font
 * @param {int} $adjustment_percentage By what degree would you like the tint color to show
 * @return {string}
 */
@function font_color_adjust($background-color, $tint, $adjustment_percentage) {
    $bg_lightness: lightness($background-color);
    $tint_lightness: lightness($tint);

    @if($bg_lightness >= 50) {
        $tint_lightness: $adjustment_percentage;
    } @else {
        $tint_lightness: (100 - $adjustment_percentage);
    }

    @return hsl(hue($tint), saturation($tint), $tint_lightness);
}

/*
 * Complimentary color function. 
 * Returns the complimentary color of supplied color along with varying base shades
 *
 * @param {string} $color The base color
 * @param {int} $swatch The swatch color modifier (default 3)
 * @return {string}
 */
@function complimentary_color($color: $base_color, $swatch:3) {
    $hue: hue($color);
    $lightness: lightness($color);
    $base_degree: 15;

    @if($swatch == 1) {
        $lightness: $lightness - $base_degree;
    } @else if ($swatch == 2) {
        $lightness: $lightness + $base_degree;
    } @else if ($swatch == 4) {
        $hue: $hue - 180;
    } @else if ($swatch == 5) {
        $hue: $hue - 180;
        $lightness: $lightness - $base_degree;
    }

    @return hsl(color_wheel($hue), saturation($base_color), percentage_limits($lightness));
}

/*
 * Analogous Color function.
 * Returns the analagous color shifts based on the supplied color
 *
 * @param {string} $color The base color
 * @param {int} $swatch The swatch color modifier (default 3)
 * @return {string}
 */
@function analogous_color($color: $base_color, $swatch: 3) {
    $hue: hue($color);
    $saturation: saturation($color);
    $lightness: lightness($color);
    $base_degree: 15;

    @if($swatch == 1) {
        $hue: $hue - ($base_degree * 2);
    } @else if ($swatch == 2) {
        $hue: $hue - $base_degree;
    } @else if ($swatch == 4) {
        $hue: $hue + $base_degree;
    } @else if ($swatch == 5) {
        $hue: $hue + ($base_degree * 2);
    }

    @return hsl(color_wheel($hue), $saturation, $lightness);
}

/*
 * Traid Color function
 * Returns the triad color shifts based on the supplied color
 *
 * @param {string} $color The base color
 * @param {int} $swatch The swatch color modifier (default 3)
 * @param {boolean} $brighten Whether we should brighten the color palette
 */
@function triad_color($color: $base_color, $swatch: 3, $brighten: false) {
    $hue: hue($color);
    $saturation: saturation($color);
    $lightness: lightness($color);
    $base_degree: 120;
    $light_diff: 10;

    @if($swatch == 1) {
        $hue: $hue - $base_degree;
        @if($brighten == false) {
            $lightness: $lightness - $light_diff;
        } @else {
            $lightness: $lightness + $light_diff;
        }
    } @else if ($swatch == 2) {
        $hue: $hue - $base_degree;
    } @else if ($swatch == 4) {
        $hue: $hue + $base_degree;
    } @else if ($swatch == 5) {
        $hue: $hue + $base_degree;
        @if($brighten == false) {
            $lightness: $lightness - $light_diff;
        } @else {
            $lightness: $lightness + $light_diff;
        }
    }

    @return hsl(color_wheel($hue), percentage_limits($saturation), percentage_limits($lightness));
}

/*
 * Shade Color function
 * Returns various shades of the base supplied color
 *
 * @param {string} $color The base color
 * @param {int} $swatch The swatch color modifier (default 3)
 * @param {boolean} $brighten Whether we should brighten the color palette
 * @return {string}
 */
@function shade_color($color: $base_color, $swatch: 3, $brighten: false) {
    $hue: hue($color);
    $saturation: saturation($color);
    $lightness: lightness($color);
    $shade_modifier: 12;

    @if($swatch != 3) {
        @if($brighten == false) {
            $saturation: $saturation - ($shade_modifier * $swatch);
           $lightness: $lightness - ($shade_modifier  * $swatch);
        } @else {
            $saturation: $saturation + ($shade_modifier * $swatch);
           $lightness: $lightness + ($shade_modifier * $swatch);
        }
    }

    @return hsl($hue, percentage_limits($saturation, true), percentage_limits($lightness, true));
}

/*
 * Split-Complimentary Color function
 * Returns Split-Complimentary palette of the base supplied color
 *
 * @param {string} $color The base color
 * @param {int} $swatch The swatch color modifier (default 3)
 * @param {boolean} $brighten Whether we should brighten the color palette
 * @return {string}
 */
@function split_complimentary_color($color: $base_color, $swatch: 3, $brighten: false) {
    $hue: hue($color);
    $saturation: saturation($color);
    $lightness: lightness($color);
    $shade_modifier: 8;
    $color_wheel_degree: 150;

    @if($swatch == 1) {
        $hue: $hue + $color_wheel_degree;
    } @else if ($swatch == 2) {
        $hue: $hue + $color_wheel_degree;
        @if($brighten == false) {
            $lightness: $lightness - $shade_modifier;
        } @else {
            $lightness: $lightness + $shade_modifier;
        }
    } @else if($swatch == 4) {
        $hue: $hue - $color_wheel_degree;
        @if($brighten == false) {
            $lightness: $lightness - $shade_modifier;
        } @else {
            $lightness: $lightness + $shade_modifier;
        }
    } @else if($swatch == 5) {
        $hue: $hue - $color_wheel_degree;
    }

    @return hsl(color_wheel($hue), $saturation, percentage_limits($lightness, false));
}