/* ---------------------------------------------------------------------
Original Author: Shane Smith

Site Variables
------------------------------------------------------------------------ */

$base_color: #79a22f;
$brighten: true;


/*
 * Palette Style
 *
 * Options: complimentary, analogous, triad, split-complimentary, tetradic, square, shades
 */
$palette_style: 'shades';

$site_width: 1024px;
$base_padding: 10px;