/* ---------------------------------------------------------------------
Original Author: Shane Smith

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Global Includes
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Site Variables
------------------------------------------------------------------------ */
/*
 * Palette Style
 *
 * Options: complimentary, analogous, triad, split-complimentary, tetradic, square
 */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Color Functions
------------------------------------------------------------------------ */
/*
 * Updates a supplied number based on a 360 degree color wheel
 *
 * @param {int} $degree
 * @return {int}
 */
/*
 * Complimentary color function. 
 * Returns the complimentary color of supplied color
 *
 * @param {string} $color The base color
 * @return {string}
 */
/*
 * Analogous Color function.
 * Returns the analagous color shifts based on the supplied color
 *
 * @param {string} $color The base color
 * @param {boolen} $counter Counter-Clockwise on the color wheel
 * @return {string}
 */
/*
 * Traid Color function
 * Returns the triad color shifts based on the supplied color
 *
 * @param {stirng} $color The base color
 * @param {boolean} $counter Counter-Clockwise on the color wheel
 * @return {string}
 */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Color Palette
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Site Variables
------------------------------------------------------------------------ */
/*
 * Palette Style
 *
 * Options: complimentary, analogous, triad, split-complimentary, tetradic, square
 */
body {
  background-color: #266d7f; }

.wrapper {
  background-color: #6d7f26;
  width: 1024px;
  margin: 0 auto; }

.header {
  background-color: #7f266d;
  padding: 10px; }

.content {
  padding: 10px; }

.palette {
  width: 1024px;
  margin: 30px auto; }

.swatch {
  height: 75px;
  display: inline-block;
  width: 18%;
  margin: 10px 0;
  border: 1px solid black;
  text-align: center;
  padding-top: 50px; }

.swatch-1 {
  background-color: #4b581a; }

.swatch-2 {
  background-color: #6d7f26; }

.swatch-3 {
  background-color: #266d7f; }

.swatch-4 {
  background-color: #7f266d; }

.swatch-5 {
  background-color: #581a4b; }
