/* ---------------------------------------------------------------------
Original Author: Shane Smith

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Global Includes
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Site Variables
------------------------------------------------------------------------ */
/*
 * Palette Style
 *
 * Options: complimentary, analogous, triad, shades {TODO: split-complimentary, tetradic, square}
 */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Color Functions
------------------------------------------------------------------------ */
/*
 * Updates a supplied number based on a 360 degree color wheel
 *
 * @param {int} $degree
 * @return {int}
 */
/*
 * Limits a supplied number to a min of 0 and max of 100 unless loop is true. If loop is true remove/add 100 if over/under 0/100
 *
 * @param {int} $percentage
 * @param {booean} $loop
 * @return {int}
 */
/*
 * Adjusts the lightness of the font color based on the background color and a supplied tint
 * This will prevent dark on dark/ light on light font/background images
 *
 * @param {string} $background-color This must match the background color
 * @param {string} $tint The color which you would like to tint the font
 * @param {int} $adjustment_percentage By what degree would you like the tint color to show
 * @return {string}
 */
/*
 * Complimentary color function. 
 * Returns the complimentary color of supplied color
 *
 * @param {string} $color The base color
 * @return {string}
 */
/*
 * Analogous Color function.
 * Returns the analagous color shifts based on the supplied color
 *
 * @param {string} $color The base color
 * @param {int} $swatch The swatch color modifier (default 3)
 * @return {string}
 */
/*
 * Traid Color function
 * Returns the triad color shifts based on the supplied color
 *
 * @param {string} $color The base color
 * @param {int} $swatch The swatch color modifier (default 3)
 * @param {boolean} $brighten Whether we should brighten the color palette
 */
/*
 * Shade Color function
 * Returns various shades of the base supplied color
 *
 * @param {string} $color The base color
 * @param {int} $swatch The swatch color modifier (default 3)
 * @param {boolean} $brighten Whether we should brighten the color palette
 * @return {string}
 */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Color Palette
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
Original Author: Shane Smith

Site Variables
------------------------------------------------------------------------ */
/*
 * Palette Style
 *
 * Options: complimentary, analogous, triad, shades {TODO: split-complimentary, tetradic, square}
 */
body {
  background-color: #be0000; }

.wrapper {
  background-color: #e2c1c1;
  color: #4d0000;
  width: 1024px;
  margin: 0 auto; }

.header {
  background-color: #781313;
  color: #f4bdbd;
  padding: 10px; }

.content {
  padding: 10px; }

.palette {
  width: 1024px;
  margin: 30px auto; }

.swatch {
  height: 75px;
  display: inline-block;
  width: 18%;
  margin: 10px 0;
  border: 1px solid black;
  text-align: center;
  padding-top: 50px; }

.swatch-1 {
  background-color: #ab8686;
  color: #4d0000; }

.swatch-2 {
  background-color: #e2c1c1;
  color: #4d0000; }

.swatch-3 {
  background-color: #be0000;
  color: #ffb3b3; }

.swatch-4 {
  background-color: #781313;
  color: #ffb3b3; }

.swatch-5 {
  background-color: #f10d0d;
  color: #ffb3b3; }
